In programming, there are several types of simple values you will commonly see. In Python, they are:

* numbers
* strings
* booleans

# Numbers

Numbers are exactly what they sound like: the same kind of numbers we use all day outside of programming. Here are some examples:

In [1]:
1

1

In [2]:
1976

1976

In [3]:
42.0

42.0

In [4]:
-7

-7

In [5]:
0

0

In [6]:
3.14159

3.14159

We can use math with numbers like we would expect. Notice that `*` is how we do multiplication and `**` is how we write powers (like 2<sup>3</sup>).

In [7]:
1 + 2 + 3 + 4

10

In [8]:
12 - 7.5

4.5

In [9]:
6 * 1000

6000

In [10]:
15 / 4

3.75

In [11]:
15 // 4

3

In [12]:
2 ** 10

1024

We can also do exponentiation with `pow()`.

In [ ]:
pow(2, 10)

There are two types of numbers in Python: integers and floats (what we might call "decimals.") For the most part, we are not concerned with the difference, but it's important to remember that floats are not always accurate.

In [13]:
0.9 * 10 * 99

891.0

In [14]:
0.9 * 99 * 10 # This should be the same as above.

891.0000000000001

There are other mathematical operators in Python. `//` does division, but with no remainder, and `%` is "modulo," which returns the remainder of the first operand divided by the second.

In [15]:
21 / 4

5.25

In [16]:
21 // 4

5

In [17]:
21 % 4

1

In [19]:
21.0 / 4.5

4.666666666666667

In [20]:
21.0 // 4.5

4.0

In [21]:
21.0 % 4.5

3.0

In [25]:
23.0 % 4.5

0.5

# Strings

Strings are pieces of text: things like names, words, sequences of letters, sentences, or paragraphs. They can contain letters, numbers, and punctuation, but many types of special characters, too, like newlines and tabs.

In [26]:
"Hello world"

'Hello world'

In [27]:
"23.5"

'23.5'

In [28]:
"fjf477&&&&fherscslrf^fsdlfw()fn32rnc"

'fjf477&&&&fherscslrf^fsdlfw()fn32rnc'

In [29]:
"\t\n\r"

'\t\n\r'

In [30]:
"He said, \"This is how you make quotes inside a string.\""

'He said, "This is how you make quotes inside a string."'

In [31]:
'This is Joel\'s pencil.'

"This is Joel's pencil."

## Concatenation

If you put multiple strings in a row, they will be treated as one string. This is useful to split long strings over multiple lines or to add comments to strings.

In [32]:
"hello" "world"

'helloworld'

In [33]:
("this"
"is"
"one"
"string")

'thisisonestring'

In [34]:
("This " # why hello there
 "is a string with comments")

'This is a string with comments'

## Long strings

When you need a string that encompasses multiple lines, including the line breaks in between those lines, you can use three quotes to begin and end the string.

In [35]:
"""Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal.

Now we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. We are met on a great battle-field of that war. We have come to dedicate a portion of that field, as a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this.

But, in a larger sense, we can not dedicate -- we can not consecrate -- we can not hallow -- this ground. The brave men, living and dead, who struggled here, have consecrated it, far above our poor power to add or detract. The world will little note, nor long remember what we say here, but it can never forget what they did here. It is for us the living, rather, to be dedicated here to the unfinished work which they who fought here have thus far so nobly advanced. It is rather for us to be here dedicated to the great task remaining before us -- that from these honored dead we take increased devotion to that cause for which they gave the last full measure of devotion -- that we here highly resolve that these dead shall not have died in vain -- that this nation, under God, shall have a new birth of freedom -- and that government of the people, by the people, for the people, shall not perish from the earth."""

'Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal.\n\nNow we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. We are met on a great battle-field of that war. We have come to dedicate a portion of that field, as a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this.\n\nBut, in a larger sense, we can not dedicate -- we can not consecrate -- we can not hallow -- this ground. The brave men, living and dead, who struggled here, have consecrated it, far above our poor power to add or detract. The world will little note, nor long remember what we say here, but it can never forget what they did here. It is for us the living, rather, to be dedicated here to the unfinished work which they who fought here have thus far so nobly advanced. It is rather for us to be here dedicated to the great task remaining before us -- that from these honored dead we take increased devotion to that cause for which they gave the last full measure of devotion -- that we here highly resolve that these dead shall not have died in vain -- that this nation, under God, shall have a new birth of freedom -- and that government of the people, by the people, for the people, shall not perish from the earth.'

Can you use three quotes on a single line?

In [36]:
"""That is a good question."""

'That is a good question.'

In [39]:
"""Taylor asked, "Can I use triple quotes on one line?" I said, "yes.\""""

'Taylor asked, "Can I use triple quotes on one line?" I said, "yes."'

# Booleans

Booleans represent the ideas of truth and not truth -- that is, true and false. You will most commonly see them when comparing two things, although they are useful whenever you want to answer a yes or no question in code.

In [40]:
1 < 2

True

In [41]:
1 > 2

False

In [42]:
17 >= 17

True

In [43]:
"hello" == "hello"

True

In [44]:
"Hello" == "hello"

False

In [45]:
"Hello" != "hello"

True

In [46]:
1 == "1"

False

In [47]:
1 < 2

True

In [48]:
not 1 < 2

False

# Converting between types

You can convert between strings, integers, and floats using built-in _functions_. You might want to do this because:

* You have user input as a string but want a number.
* You have a float, but want to drop the decimal part.
* You have a number, but need a string for concatenation.

In Python 2, you often wanted to convert a integer to a float before division, as `/` in Python 2 worked like `//` in Python 3.

In [49]:
int("2")

2

In [50]:
float("5.5")

5.5

In [51]:
int("5.5")

ValueError: invalid literal for int() with base 10: '5.5'

In [52]:
str(9)

'9'

In [53]:
int(9.7)

9

In [54]:
float(-13)

-13.0

## Automatic conversion with math

In [55]:
1 + 2

3

In [56]:
1 + 2.0

3.0

In [57]:
6 / 2

3.0